.vscode/**
.vscode-test/**
src/**
.gitignore
tsconfig.json
webpack.config.js
PLAN.md
test/**
*.map
node_modules/.package-lock.json
node_modules/.cache/**
node_modules/@types/**
node_modules/ts-loader/**
node_modules/typescript/**
node_modules/webpack/**
node_modules/webpack-cli/**
node_modules/**/*.md
node_modules/**/*.d.ts
node_modules/**/test/**
node_modules/**/tests/**
node_modules/**/benchmark/**
